@import './note.css';

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root, body, #app {
  min-height: 100vh;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.theme-dark {
  --white: #222325;
  --black: white;
}

.theme-light {
  --white: white;
  --black: black;
}

body {
  background-color: var(--white);
  color: var(--black);
}

line.visual {
  stroke-linecap: round;
  pointer-events: none;
}

line.view {
  stroke-linecap: round;
  pointer-events: stroke;
  opacity: 0;

  &:hover {
    filter: invert(0.25);
    opacity: 1;
  }

  &.highlight {
    filter: invert(0.5);
    opacity: 1;
  }
}

.content.readonly line.view:hover {
  opacity: 0;
}

.row {
  margin-top: 0.5rem;
}

a {
  color: #60a5fa;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.app-content {
  flex: 1 1 0%;
  width: 100%;
  margin: auto;
  padding: 0.25rem 1rem;
}

@media (min-width: 40rem) {
  .app-content {
    width: 40rem;
  }
}
