
.note {
  --padding: 0.5rem;
  --resizer-width: calc(0.5rem / var(--scale));
  position: absolute;
  left: calc(var(--shift-x) + var(--x));
  top: calc(var(--shift-y) + var(--y));
  background-color: var(--white);
  padding: var(--padding);
  border-style: solid;
  border-color: grey;
  border-width: calc(1px / var(--scale));
  border-radius: 0.25rem;
  width: 16rem;
  user-select: none;

  &.highlight {
    border-color: red;
  }

  > .container {
    position: relative;

    >img {
      width: 100%;
      pointer-events: none !important;
      display: block;
    }

    >img[src] + .content:not(.empty) {
      margin-top: 0.75rem;
    }

    >img:not([src]) {
      display: none;
    }

    > .dot {
      --size: calc(1rem / var(--scale));
      --delta1: calc((var(--padding) + var(--size)) * -0.5);
      --delta2: calc(50% - var(--size) * 0.5);
      position: absolute;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      z-index: 1;

      &:hover {
        background-color: red;
      }

      &[data-pos="0"] {
        left: var(--delta1);
        top: var(--delta2);
      }
      &[data-pos="1"] {
        top: var(--delta1);
        left: var(--delta2);
      }
      &[data-pos="2"] {
        right: var(--delta1);
        top: var(--delta2);
      }
      &[data-pos="3"] {
        bottom: var(--delta1);
        left: var(--delta2);
      }
    }
  }

  > .resize {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: var(--resizer-width);
    cursor: ew-resize;

    &.left {
      left: calc((var(--resizer-width)) / -2);
    }

    &.right {
      right: calc((var(--resizer-width)) / -2);
    }
  }
}

.dragging-dot .note .dot {
  background-color: #ff9d9d;
}

.content.readonly .note .dot {
  opacity: 0;
}

.content.readonly .note .resize {
  cursor: initial;
}

.preview-connection {
  display: none;
  pointer-events: none;

  &:hover {
    filter: none;
  }
}

.dragging-dot .preview-connection {
  display: block;
}
